.product-label {
    padding-left: 0;
}

.select-product-order {
    padding-left: 4px;
}

.daterangepicker {
    z-index: 1100!important;
}

.add-product-order-button, .add-product-order-button2, .sub-product-order-button {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    padding: 7px;
}
