.product-image {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

#edit_product_image2 {
    margin-top: 10px;
    display: none;
}
#edit_user_avatar2 {
    margin-top: 10px;
    display: none;
}
